<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Backtest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Annual return</th>
      <td>6.589%</td>
    </tr>
    <tr>
      <th>Cumulative returns</th>
      <td>216.341%</td>
    </tr>
    <tr>
      <th>Annual volatility</th>
      <td>7.306%</td>
    </tr>
    <tr>
      <th>Sharpe ratio</th>
      <td>0.910066</td>
    </tr>
    <tr>
      <th>Calmar ratio</th>
      <td>0.344023</td>
    </tr>
    <tr>
      <th>Stability</th>
      <td>0.964308</td>
    </tr>
    <tr>
      <th>Max drawdown</th>
      <td>-19.153%</td>
    </tr>
    <tr>
      <th>Omega ratio</th>
      <td>1.173632</td>
    </tr>
    <tr>
      <th>Sortino ratio</th>
      <td>1.308307</td>
    </tr>
    <tr>
      <th>Skew</th>
      <td>-0.164172</td>
    </tr>
    <tr>
      <th>Kurtosis</th>
      <td>5.778756</td>
    </tr>
    <tr>
      <th>Tail ratio</th>
      <td>0.981403</td>
    </tr>
    <tr>
      <th>Daily value at risk</th>
      <td>-0.894%</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Worst drawdown periods</th>
      <th>Net drawdown in %</th>
      <th>Peak date</th>
      <th>Valley date</th>
      <th>Recovery date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>19.153281</td>
      <td>2021-11-09</td>
      <td>2022-10-20</td>
      <td>NaT</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14.216966</td>
      <td>2008-03-18</td>
      <td>2008-11-12</td>
      <td>2009-08-24</td>
      <td>375</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.938354</td>
      <td>2020-03-06</td>
      <td>2020-03-18</td>
      <td>2020-04-14</td>
      <td>28</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8.55788</td>
      <td>2012-10-04</td>
      <td>2013-06-27</td>
      <td>2014-06-19</td>
      <td>446</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7.532876</td>
      <td>2016-07-08</td>
      <td>2016-12-15</td>
      <td>2017-08-03</td>
      <td>280</td>
    </tr>
  </tbody>
</table>